body {
  margin-top: 0;
  font-family: cursive;
  background-color: rgb(206, 201, 194);
  margin-left: 10%;
  margin-right: 10%;
}

.image {
  background-image: url(./d281c4c08f27b54a58fc604c9c416c6e0e5fa0f0.png);
  width: 600px;
  height: 400px;
  background-repeat: no-repeat;
  background-position: center;
}

table {
  cursor: pointer;
}

td:hover {
  background-color: rgb(70, 64, 61);
}

.people_table {
  display: flex;
  align-content: center;
  width: 70%;
}


h1 {
  visibility: hidden;
}

.input {
  margin-left: 10px;
  margin-bottom: 10px;
}